@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Bumblebee Friendship Guide!</h1>
    <h2>Bumblebee is my cat.</h2>
    <img src="img/in_tree.jpg" height="400" />
    <img src="img/suspichous.jpg" height="400"/>
    <img src="img/spot_stealer.jpg" height="400" />
    <p>Have you ever thought to yourself, "I wish I were best friends with Harmony's cat Bumblebee"? Well too bad. I'm her best friend.</p>
    <h6>BUT</h6>
    <p>You can still be her good friend!</p>
</div>
<p>Here are some things to know about Bumblebee:</p>
<ol>
    <li>She loves to play! 
        Every day she wakes me up at 5 a.m. so she can run around and play in the apartment (I shut the bedroom door at night so she doesn't walk around on the table when no one's looking). 
        Every night at 11 p.m. she asks me to take her outside for a walk so she can look around at all the awesome stuff.
    </li>
    <li>
        She is a little bit too tubby.
        Bumblebee weighs 12.8 lbs. The healthy weight for a female cat is 8-12 lbs, so that's a little overweight!
        I am trying to help her lose weight by keeping good track of how much she eats and running around and playing with her whenever she wants.
    </li>
    <li>
        Sometimes she bites me.
        But only if I deserve it, and not too hard. She only does it because she can't talk to tell me when I am being too annoying, so if I don't pay attention to her other signals
        that she needs some space, she has no other way to communicate but to give me a little chomp. If I couldn't talk, I would probably bite people too.
    </li>
    <li>
        She thinks my family's dog is weird. And she's right.
    </li>
</ol>
<p>Want to learn more? <a asp-area="" asp-controller="Home" asp-action="SignUp">Sign up</a> for an exclusive hangout with Bumblebee!</p>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <img src="img/biting_chair.jpg" class="img-fluid rounded" alt="Image 1">
        </div>
        <div class="col-md-4">
            <img src="img/gamer_girl.jpg" class="img-fluid rounded" alt="Image 2">
        </div>
        <div class="col-md-4">
            <img src="img/suspichous.jpg" class="img-fluid rounded" alt="Image 3">
        </div>
    </div>
</div>